## Some kind of gradle local cached files. Not needed to be checked in.
.gradle/

## Gradle outputs all the binary and report files generated in the build process to /build folder.
build/

### IntelliJ IDEA ###
.idea/
*.iml

## Note: Gitignore is only supporting IDEA based development right now. We can add other IDE specific ignore scripts later.